<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/"> 
      <img src="https://visualkgroup.com/wp-content/uploads/2019/02/visualk-slogan.png" class="img-thumbnail" width="80" height="40" class="d-inline-block align-text-top" alt="Visual K">
  </a>
  <div class="login-container"> 
    <form action=""> <!-- /action_page.php   //esto estaba dentro de action -->
      <input type="text" placeholder="Usuario" name="username" class="btn btn-light p-1 m-2">
      <input type="text" placeholder="Contraseña" name="psw" class="btn btn-light p-1 m-2">
      <button class="btn btn-secondary p-1 m-2" type="submit">Entrar</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <li 
            *ngFor="let socio of socioArray" 
            class="list-group-item list-group-item-action"
            (click)="openForEdit(socio)"
            [class.active]="socio == selectedSocio">
            <span class="badge badge-primary text-danger"> {{socio.CardCode}}  </span> {{socio.CardName}} 
            <span class="badge badge-primary text-secondary"> {{socio.CardType}} </span>
            <span class="badge badge-primary text-warning"> {{socio.FederalTaxID}}</span>
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            AGREGAR NUEVO CLIENTE
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedSocio.CardName" placeholder=" Ingrese nombre de socio"  class="form-control mt-2">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedSocio.CardType" placeholder="Ingrese un tipo de Socio"  class="form-control mt-2">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedSocio.FederalTaxID" placeholder="Ingrese Rut de Socio"  class="form-control mt-2">
          </div>
          <button  (click) = "addOrEdit()" class="btn btn-primary mt-2">
            Enviar
          </button>
          <br>
          <button
          *ngIf="selectedSocio.CardCode !== 0"
          class="btn btn-danger mt-2" 
          (click)="delete()"
          >
          Delete
          </button>
          
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>